*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
  text-decoration: none;
}
#overflow{
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
 
/* .................About Us........................ */
#about{
  background-color: #ced6e0;
}
h1{
  width: 95%;
  text-shadow: 2px 2px 2px #bdc3c7;
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0px;
  letter-spacing: 3px;
}
.row{
  /* background: #2f3640; */
  width: 95%;
  /* color: white; */
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.col{
  margin: 20px 0px;
  flex-basis: 50%;
}
.col img{
  width: 90%;
  height: 90%;
  margin: 10px 10px;
  cursor: pointer;
}
.col h2{
  font-size: 40px;
  padding: 10px 0px;
}
.col p{
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: 500;
}


@media screen and (max-width: 900px){
  .row{
      width: 95%;
      margin: 0px 40px;
  }
  .col{
      flex-basis: 100%;
  }
}


/* .............ConTACT.................... */
#contact{
    background-color: #ced6e0;
}
.section-head{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    margin: 10px 0px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input, textarea{
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;;
    outline: none;
}
input:hover, textarea:hover{
  border: 2px solid black;
}
#submitBtn{
    width: 80%;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 3px;
}

/* .............FOOTER>............... */
.footer{
    width: 100vw;
    text-align: center;
    padding: 10px;
    color: white;
}
